  body, html {
      font-family: Arial, sans-serif;
      padding: 0px;
      background-color: #f9f9f9;
      margin: 0px;
      overflow-x: hidden;
      padding-bottom: 0;
      margin-bottom: 0;
      
    }
    h2 {
      text-align: center;
    }
    .tabela-container {
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 0;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    th, td {
      border: 1px solid #ccc;
      padding: 4px;
      text-align: center;
      white-space: nowrap;
      font-size: 12px;
    }
    th { background-color: #f0f0f0; }
    th:nth-child(2) { background-color: #f44336; color: white; }
    th:nth-child(3) { background-color: #ff9800; color: white; }
    th:nth-child(4) { background-color: #ffeb3b; color: black; }
    th:nth-child(5) { background-color: #4caf50; color: white; }

    input[type="number"] {
      width: 70px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 18px;
    }
    tfoot td {
      font-weight: bold;
      background-color: #eee;
    }
    #btn-limpar {
      margin-top: 20px;
      font-size: 13px;
      padding: 10px 20px;
      border: none;
      background-color: #8f0c0c;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 0;
      display: block;
    }
    
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

@media screen and (max-width: 768px) {
   .tabela-container {
      overflow-x: hidden;
    }
    table {
      width: 100%;
      table-layout: fixed;
    }
    th, td{
      padding: 1px;
      font-size: 11px;
      text-align: center;
      word-break: break-word;
      white-space: normal;
    
    }
    td{
      font-size: 12px;
      font-weight: bold;
    }

    
    input[type="number"] {
      width: 40px;
      font-size: 15px;
      padding: 1px;
    }

    td[id^="total-linha"], td[id^="total-col"], #total-geral {
    min-width: 60px;
    font-weight: bold;
    font-size: 15px;
 }
   #btn-limpar{
   background-color: rgb(150, 160, 160);
   margin-left: 100px;
  }
  body, html {
  padding-bottom: 0;
  margin-bottom: 0;
  }

}
